// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html, body {
    box-sizing: border-box;
    background-color: #cfedfa;
}

h1 {
  font-style: italic;
}


// var color=[ "red","blue","orange","green","pink","navy","grey","purple"];
//
// for(var i in color){
//   .ul_+i{
//     color : color[i];
//   }
// }


// .ul_1{
//   color : red;
// }
//
// .ul_2{
//   color : blue;
// }
//
// .ul_3{
//   color : orange;
// }
//
// .ul_4{
//   color: green;
// }
//
// .ul_5{
//   color: pink;
// }
//
// .ul_6{
//   color: purple;
// }
//
// .ul_7{
//   color: aqua;
// }


*, *:before, *:after {
    box-sizing: inherit;
}
