// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html, body {
  box-sizing: border-box;
  background-color: #cfedfa;
}

h1 {
  font-style: italic;
}

ul {
  list-style-type: circle;
  cursor: pointer;
}

*, *:before, *:after {
    box-sizing: inherit;
}
